menu {
	margin:0px;
	padding:0px;
	
}

ul, ol {
	list-style:none;
}

/*---------CLASES---------*/

.nav > li {
	float:left;
}/*ordenación horizontal izquierda*/

.nav li a {
	background-color:#000000;
	color:#ffffff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}/*formato al texto y al fondo*/

.nav li a:hover {
	background-color:#434343;
}/*formato cuando ponemos el ratón encima*/

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}/*formato a los ul que están dentro de un li*/

.nav li:hover > ul{
	display:block;
}/*se hace desplegable el submenu*/

.nav li ul li {
	position:relative;
}/*colocamos los li que están dentro de un ul que está dentro de li*/

#contenedor {
	width: 95%;
	height: 95%;
	margin: 25px auto 25px auto;

	
}

#cabecera {
	width: 100%;
	height: 300px;
	background-size:100%;
	background-image: url("Images/background.jpg");
	background-repeat: no-repeat;
	background-position: top-center;
	




}

body{

	background-color: black;
}
#columnaCentral{
	width: 100%;
	height: 1520px;
	background-image: url("Images/background_box.jpg");
}