body {
	margin : 0;
	padding : 0;
	background-color : #242f34;
	
}
a {
	text-decoration : none;
}
a:hover {
	text-decoration : underline;
}
body, a {
	color : #000000;
}
a img {
	border : none;
}
ul li {
	list-style : none;
}
.container {
	width : 1278px;
	margin : 0px auto;
	min-height : 800px;

}
.container #pcont {
	position : relative;
	margin-left : 115px;
}
.container .glow {
	position : absolute;
}

.page {
	width : 1041px;
	margin : 0px auto;
}
.page .center {
	text-align : center;
	position : relative;
}
.page .center #pcont {
	z-index : 0;
}
.page .center .logo {
	left : 115px;
	top : 30px;
	position : absolute;
	z-index : 1;
}
.page .center .logoSpace {
	height : 289px;
}
.page .center .q2 {
	margin-top : 60px;
	margin-bottom : 30px;
}
.page .center ul.links {
	margin : 0;
	padding : 0;
	margin-bottom : 50px;
}
.page .center ul.links li {
	margin : 0;
	padding : 0;
	display : inline-block;
	zoom : 1;
	*display : inline;
}
.page .center a.gh, .page .center a.yt {
	width : 50px;
	height : 50px;
	display : inline-block;
	zoom : 1;
	*display : inline;
}
.page .center a.gh {
	background : url("img/github.png");
	margin-right : 15px;
}
.page .center a.gh:hover {
	background : url("img/github.png");
}
.page .center a.yt {
	background : url("img/youtube-icons-92220.png");
}
.page .center a.yt:hover {
	background : url("img/youtube-icons-92220.png");
}
.page .text {
	padding : 0px 30px;
}
img.part {
	position : absolute;
}

.section {
	margin-bottom : 50px;
}
.section .top {
	height : 160px;
	background-image : url("img/sectionBG_top.png");
	text-align : center;
}
.section .top .title {
	padding-top : 60px;
	color : #000000;
	font-weight : bold;
	font-size : 25px;
}
.section .main {
	padding : 1px 0px;
	background-image : url("img/sectionBG_container.png");
}
.section h2 {
	margin : 0px;
	font-weight : normal;
	font-style : italic;
	color :#000000;
	margin-bottom : 5px;
}
.section p {
	margin : 0px;
	color :#000000;
}
.section p.light {
	color : #000000;
	font-size : 110%;
}
.section p.center {
	padding : 0px 115px;
	text-align : center;
	margin-bottom : 30px;

}

.section .bg {
	padding : 0px 20px;
	background-repeat : no-repeat;
	height : 260px;
}
.section .bg .text {
	padding-top : 40px;
	padding-left : 370px;
}
.section .bg .text p {
	padding-left : 0px;
	text-align : left;
}
.section .block {
	padding-left : 70px;
	padding-right : 40px;
	margin-bottom : 30px;
}
.section .block p {
	padding-left : 0px;
}
.section ul.show {
	height : 127px;
}
.section ul.show li {
	width : 127px;
	height : 127px;
	float : left;
	margin-right : 15px;
	margin-bottom : 15px;
}
.section ul.show li.ready {
	cursor : pointer;
}
.section ul.show li.Al {
	background : url("img/Alportrait.png");
}
.section ul.show li.Al:hover {
	background : url("img/Alportrait.png");
}

.section .bg.world {
	background-image : url("img/worldBG.png");
}
.section .bg.ancients {
	background-image : url("img/ruinsBG.png");
	background-position : 450px;
}
.section .bg.ancients .text {
	padding-left : 50px;
	padding-right : 440px;
}
.section .bg.dark {
	background-image : url("img/darknessBG.png");
}
.section .bottom {
	height : 94px;
	background-image : url("img/sectionBG_bottom.png");
}
.section dl dt {
	color : #000000;
	font-size : 110%;
}
.section dl dd {
	margin-bottom : 15px;
}
#footer {
	margin-top : 80px;
	padding : 10px 0px;
	background-color : #181f23;
	bottom : 0px;
	color: #ffffff
}
#footer .copy {
	text-align : center;
	margin-top : -80px;
	margin-bottom : 80px;
	color: #ffffff
}
#footer .copy a {
	color: #ffffff
	opacity : 0.5;
	filter : alpha(opacity=50);
	zoom : 1;
}



#menu {
	margin : 0px 231px;
	width : 556px;
	height : 67px;
	padding : 0px;
	padding-left : 22px;
	background : url("img/menuBG.png");
	margin-bottom : 50px;
}
#menu li {
	font-weight : bold;
	font-size : 20px;
	padding-top : 20px;
	height : 47px;
	color : #242f34;
	display : inline-block;
	zoom : 1;
	*display : inline;
	width : 177px;
	text-align : center;
	text-shadow : rgba(36,47,52,0.5) 0px 0px 2px;
	user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
	cursor : pointer;
}
#menu li:hover {
	color : #000000;
	text-shadow : rgba(36,47,52,1) 0px 2px 2px;
}